{% extends "akamatsu/dashboard/layout.html" %}
{% from "akamatsu/_macros.html" import render_pagination, sortable_header %}

{% block title %}User list{% endblock %}
{% block mini %}.users{% endblock %}

{# User index #}
{% block content %}

{# Actions #}
<div class="grid grid-pad">
    <div class="col-2-12 push-right">
        <a href="{{ url_for('dashboard.user_create') }}" class="aka-db-action">
            <i class="fa fa-user-plus"></i> Create new user
        </a>
    </div>
</div>

{% if users.items|length > 0 %}
<div class="aka-db-list">

    <div class="grid grid-pad aka-listheader">
        <div class="col-2-12">
            {{ sortable_header('username', 'Username', order_key, order_dir) }}
        </div>

        <div class="col-3-12">
            {{ sortable_header('email', 'Email', order_key, order_dir) }}
        </div>

        <div class="col-3-12">
            {{ sortable_header('firstname', 'First name', order_key, order_dir) }}
        </div>

        <div class="col-3-12">
            {{ sortable_header('lastname', 'Last name', order_key, order_dir) }}
        </div>

        <div class="col-1-12">
            {{ sortable_header('enabled', 'Enabled', order_key, order_dir) }}
        </div>
    </div>

{% for user in users.items %}
    <div user_id="{{ user.id }}" class="grid aka-listitem">
        {# Username #}
        <div class="col-2-12">
            <span class="aka-list-alt">Username</span>
            <span>{{ user.username }}</span>
        </div>

        {# Email #}
        <div class="col-3-12">
            <span class="aka-list-alt">Email</span>
            <span>{{ user.email }}</span>
        </div>

        {# First name #}
        <div class="col-3-12">
            <span class="aka-list-alt">First name</span>
            <span>{{ user.first_name }}</span>
        </div>

        {# Last name #}
        <div class="col-3-12">
            <span class="aka-list-alt">Last name</span>
            <span>{{ user.last_name }}</span>
        </div>

        {# Enabled? #}
        <div class="col-1-12">
            <span class="aka-listicon-alt">Enabled:</span>
            <span class="aka-listicon">
                {% if user.is_enabled %}
                <i class="fa fa-check"></i>
                {% else %}
                <i class="fa fa-times"></i>
                {% endif %}
            </span>
        </div>
    </div>
{% endfor %}
</div>

{{ render_pagination(users, 'dashboard.user_index', true) }}

{% else %}
    {# Show error message instead of 404 #}
    <div class="grid grid-pad">
        <article class="col-1-1">
            <h2>No users found</h2>
            <hr></hr>
        </article>
    </div>
{% endif %}
</div>

{% endblock %}

