{% extends "akamatsu/dashboard/layout.html" %}
{% from "akamatsu/_macros.html" import render_pagination, sortable_header %}

{% block title %}Post list{% endblock %}
{% block mini %}.blog{% endblock %}

{# Blog index #}
{% block content %}

{# Actions #}
<div class="grid grid-pad">
    <div class="col-2-12 push-right">
        <a href="{{ url_for('dashboard.blog_ghost_index') }}" class="aka-db-action">
            <i class="fa fa-eye-slash"></i> View ghost posts
        </a>
    </div>

    <div class="col-2-12 push-right">
        <a href="{{ url_for('dashboard.blog_create') }}" class="aka-db-action">
            <i class="fa fa-plus"></i> Create new post
        </a>
    </div>
</div>

{% if posts.items|length > 0 %}
<div class="aka-db-list">

    <div class="grid grid-pad aka-listheader">
        <div class="col-4-12">
            {{ sortable_header('title', 'Title', order_key, order_dir) }}
        </div>

        <div class="col-3-12">
            {{ sortable_header('slug', 'Slug', order_key, order_dir) }}
        </div>

        <div class="col-1-12">
            {{ sortable_header('published', 'Published', order_key, order_dir) }}
        </div>

        <div class="col-1-12">
            {{ sortable_header('comments', 'Comments', order_key, order_dir) }}
        </div>

        <div class="col-3-12">
            {{ sortable_header('date', 'Date', order_key, order_dir) }}
        </div>
    </div>

{% for post in posts.items %}
    <div post_id="{{ post.id }}" class="grid aka-listitem">
        {# Title #}
        <div class="col-4-12">
            <span class="aka-list-alt">Title</span>
            <span>{{ post.title }}</span>
        </div>

        {# Author name #}
        <div class="col-3-12">
            <span class="aka-list-alt">Slug</span>
            <span>{{ post.slug }}</span>
        </div>

        {# Published? #}
        <div class="col-1-12">
            <span class="aka-listicon-alt">Published:</span>
            <span class="aka-listicon">
                {% if post.is_published %}
                <i class="fa fa-check"></i>
                {% else %}
                <i class="fa fa-times"></i>
                {% endif %}
            </span>
        </div>

        {# Comments enabled? #}
        <div class="col-1-12">
            <span class="aka-listicon-alt">Comments:</span>
            <span class="aka-listicon">
                {% if post.comments_enabled %}
                <i class="fa fa-check"></i>
                {% else %}
                <i class="fa fa-times"></i>
                {% endif %}
            </span>
        </div>

        {# Post timestamp #}
        <div class="col-3-12">
            <span class="aka-list-alt">Date</span>
            <span class="aka-listdate">{{ post.timestamp }}</span>
        </div>
    </div>
{% endfor %}
</div>

{{ render_pagination(posts, 'dashboard.blog_index', true) }}

{% else %}
    {# Show error message instead of 404 #}
    <div class="grid grid-pad">
        <article class="col-1-1">
            <h2>No posts found</h2>
            <hr></hr>
        </article>
    </div>
{% endif %}
</div>

{% endblock %}

