{% extends "akamatsu/layout.html" %}
{% from "akamatsu/_macros.html" import disqus_comments %}

{# Custom head extensions #}
{% block head_extend %}{{ page.custom_head|safe }}{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block mini %}.{{ page.mini }}{% endblock %}

{% block content %}
<div class="grid grid-pad">
    <article class="aka-page col-1-1">
        {{ page.content|markdown }}

        <span class="date">
            <i>Last updated: </i>
            {{ page.timestamp.strftime('%d %b %Y') }}
        </span>

        {% if page.comments_enabled %}
            {{ disqus_comments(
                    'page_' ~ page.id,
                    page.title,
                    url_for('page.show', _external=True, page=page.route)
                )
            }}
        {% endif %}
    </article>
</div>
{% endblock %}
