{% extends "akamatsu/dashboard/layout.html" %}

{% block title %}Delete page{% endblock %}
{% block mini %}.pages{% endblock %}

{% block content %}

{% if status == 'error' %}
<div class="grid grid-pad">
    <div class="col-1-1">
        <h3>{{ errmsg }}</h3>
    </div>
</div>

{% elif status == 'deleted' %}
<div class="grid grid-pad">
    <div class="col-1-1">
        <p>The page has been deleted</p>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-1-3 push-1-3">
        <a href="{{ url_for('dashboard.page_index') }}" class="aka-btn-primary plainlink">
            <i class="glyph-level-up"></i> Back to page list
        </a>
    </div>
</div>

{% elif status == 'confirm' %}
<div class="grid grid-pad">
    <div class="col-1-1">
        <h3>You are about to delete page: <i>{{ page.title }}</i></h3>
        <p>Are you sure you want to continue?</p>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-1-4 push-1-4">
        <form action="" method="POST" role="form">
            <button type="submit" class="aka-btn-success">
                <i class="glyph-trash"></i> Confirm
            </button>
        </form>
    </div>

    <div class="col-1-4">
        <a href="{{ url_for('dashboard.page_edit', page_id=page.id) }}" class="aka-btn-warning plainlink">
            <i class="glyph-level-up"></i> Cancel
        </a>
    </div>
</div>

{% endif %}
{% endblock %}
