{% import "macros.html" as macros %}
{% extends "admin/layout.html" %}

{% block title %}{{ _('Change password') }}{% endblock %}

{% block breadcrumbs %}
<li><a href="{{ url_for('admin.home') }}">{{ _('Dashboard') }}</a></li>
<li><a href="{{ url_for('admin.profile_edit') }}">{{ _('Edit profile') }}</a></li>
<li class="is-active"><a href="#" aria-current="page">{{ _('Change password') }}</a></li>
{% endblock %}

{% block content %}
<h3 class="subtitle is-3">{{ _('Change password') }}</h3>

<div class="box">
    <form action="" method="POST" role="form">
        {{ form.hidden_tag() }}

        {# Password #}
        {{ macros.render_input(form.password) }}

        {% if form.errors.password %}
            {{ macros.render_messages(form.errors.password, size='') }}
        {% endif %}

        {# Retype password #}
        {{ macros.render_input(form.retype_password) }}

        {% if form.errors.retype_password %}
            {{ macros.render_messages(form.errors.retype_password, size='') }}
        {% endif %}

        {# Submit #}
        {{ macros.render_submit(form.submit) }}
    </form>
</div>
{% endblock %}

