@font-face {
	font-family: 'entypo';
	src:url('../fonts/entypo/entypo.eot?-whwy12');
	src:url('../fonts/entypo/entypo.eot?#iefix-whwy12') format('embedded-opentype'),
		url('../fonts/entypo/entypo.ttf?-whwy12') format('truetype'),
		url('../fonts/entypo/entypo.woff?-whwy12') format('woff'),
		url('../fonts/entypo/entypo.svg?-whwy12#entypo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="glyph-"], [class*=" glyph-"] {
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyph-address:before {
	content: "\e600";
}
.glyph-add-to-list:before {
	content: "\e601";
}
.glyph-add-user:before {
	content: "\e602";
}
.glyph-adjust:before {
	content: "\e603";
}
.glyph-air:before {
	content: "\e604";
}
.glyph-aircraft:before {
	content: "\e605";
}
.glyph-aircraft-landing:before {
	content: "\e606";
}
.glyph-aircraft-take-off:before {
	content: "\e607";
}
.glyph-align-bottom:before {
	content: "\e608";
}
.glyph-align-horizontal-middle:before {
	content: "\e609";
}
.glyph-align-left:before {
	content: "\e60a";
}
.glyph-align-right:before {
	content: "\e60b";
}
.glyph-align-top:before {
	content: "\e60c";
}
.glyph-align-vertical-middle:before {
	content: "\e60d";
}
.glyph-archive:before {
	content: "\e60e";
}
.glyph-area-graph:before {
	content: "\e60f";
}
.glyph-arrow-bold-down:before {
	content: "\e610";
}
.glyph-arrow-bold-left:before {
	content: "\e611";
}
.glyph-arrow-bold-right:before {
	content: "\e612";
}
.glyph-arrow-bold-up:before {
	content: "\e613";
}
.glyph-arrow-down:before {
	content: "\e614";
}
.glyph-arrow-left:before {
	content: "\e615";
}
.glyph-arrow-long-down:before {
	content: "\e616";
}
.glyph-arrow-long-left:before {
	content: "\e617";
}
.glyph-arrow-long-right:before {
	content: "\e618";
}
.glyph-arrow-long-up:before {
	content: "\e619";
}
.glyph-arrow-right:before {
	content: "\e61a";
}
.glyph-arrow-up:before {
	content: "\e61b";
}
.glyph-arrow-with-circle-down:before {
	content: "\e61c";
}
.glyph-arrow-with-circle-left:before {
	content: "\e61d";
}
.glyph-arrow-with-circle-right:before {
	content: "\e61e";
}
.glyph-arrow-with-circle-up:before {
	content: "\e61f";
}
.glyph-attachment:before {
	content: "\e620";
}
.glyph-awareness-ribbon:before {
	content: "\e621";
}
.glyph-back:before {
	content: "\e622";
}
.glyph-back-in-time:before {
	content: "\e623";
}
.glyph-bar-graph:before {
	content: "\e624";
}
.glyph-battery:before {
	content: "\e625";
}
.glyph-beamed-note:before {
	content: "\e626";
}
.glyph-bell:before {
	content: "\e627";
}
.glyph-blackboard:before {
	content: "\e628";
}
.glyph-block:before {
	content: "\e629";
}
.glyph-book:before {
	content: "\e62a";
}
.glyph-bookmark:before {
	content: "\e62b";
}
.glyph-bookmarks:before {
	content: "\e62c";
}
.glyph-bowl:before {
	content: "\e62d";
}
.glyph-box:before {
	content: "\e62e";
}
.glyph-briefcase:before {
	content: "\e62f";
}
.glyph-browser:before {
	content: "\e630";
}
.glyph-brush:before {
	content: "\e631";
}
.glyph-bucket:before {
	content: "\e632";
}
.glyph-bug:before {
	content: "\e633";
}
.glyph-cake:before {
	content: "\e634";
}
.glyph-calculator:before {
	content: "\e635";
}
.glyph-calendar:before {
	content: "\e636";
}
.glyph-camera:before {
	content: "\e637";
}
.glyph-ccw:before {
	content: "\e638";
}
.glyph-chat:before {
	content: "\e639";
}
.glyph-check:before {
	content: "\e63a";
}
.glyph-chevron-down:before {
	content: "\e63b";
}
.glyph-chevron-left:before {
	content: "\e63c";
}
.glyph-chevron-right:before {
	content: "\e63d";
}
.glyph-chevron-small-down:before {
	content: "\e63e";
}
.glyph-chevron-small-left:before {
	content: "\e63f";
}
.glyph-chevron-small-right:before {
	content: "\e640";
}
.glyph-chevron-small-up:before {
	content: "\e641";
}
.glyph-chevron-thin-down:before {
	content: "\e642";
}
.glyph-chevron-thin-left:before {
	content: "\e643";
}
.glyph-chevron-thin-right:before {
	content: "\e644";
}
.glyph-chevron-thin-up:before {
	content: "\e645";
}
.glyph-chevron-up:before {
	content: "\e646";
}
.glyph-chevron-with-circle-down:before {
	content: "\e647";
}
.glyph-chevron-with-circle-left:before {
	content: "\e648";
}
.glyph-chevron-with-circle-right:before {
	content: "\e649";
}
.glyph-chevron-with-circle-up:before {
	content: "\e64a";
}
.glyph-circle:before {
	content: "\e64b";
}
.glyph-circle-with-cross:before {
	content: "\e64c";
}
.glyph-circle-with-minus:before {
	content: "\e64d";
}
.glyph-circle-with-plus:before {
	content: "\e64e";
}
.glyph-circular-graph:before {
	content: "\e64f";
}
.glyph-clapperboard:before {
	content: "\e650";
}
.glyph-classic-computer:before {
	content: "\e651";
}
.glyph-clipboard:before {
	content: "\e652";
}
.glyph-clock:before {
	content: "\e653";
}
.glyph-cloud:before {
	content: "\e654";
}
.glyph-code:before {
	content: "\e655";
}
.glyph-cog:before {
	content: "\e656";
}
.glyph-colours:before {
	content: "\e657";
}
.glyph-compass:before {
	content: "\e658";
}
.glyph-controller-fast-backward:before {
	content: "\e659";
}
.glyph-controller-fast-forward:before {
	content: "\e65a";
}
.glyph-controller-jump-to-start:before {
	content: "\e65b";
}
.glyph-controller-next:before {
	content: "\e65c";
}
.glyph-controller-paus:before {
	content: "\e65d";
}
.glyph-controller-play:before {
	content: "\e65e";
}
.glyph-controller-record:before {
	content: "\e65f";
}
.glyph-controller-stop:before {
	content: "\e660";
}
.glyph-controller-volume:before {
	content: "\e661";
}
.glyph-copy:before {
	content: "\e662";
}
.glyph-creative-commons:before {
	content: "\e663";
}
.glyph-creative-commons-attribution:before {
	content: "\e664";
}
.glyph-creative-commons-noderivs:before {
	content: "\e665";
}
.glyph-creative-commons-noncommercial-eu:before {
	content: "\e666";
}
.glyph-creative-commons-noncommercial-us:before {
	content: "\e667";
}
.glyph-creative-commons-public-domain:before {
	content: "\e668";
}
.glyph-creative-commons-remix:before {
	content: "\e669";
}
.glyph-creative-commons-share:before {
	content: "\e66a";
}
.glyph-creative-commons-sharealike:before {
	content: "\e66b";
}
.glyph-credit:before {
	content: "\e66c";
}
.glyph-credit-card:before {
	content: "\e66d";
}
.glyph-crop:before {
	content: "\e66e";
}
.glyph-cross:before {
	content: "\e66f";
}
.glyph-cup:before {
	content: "\e670";
}
.glyph-cw:before {
	content: "\e671";
}
.glyph-cycle:before {
	content: "\e672";
}
.glyph-database:before {
	content: "\e673";
}
.glyph-dial-pad:before {
	content: "\e674";
}
.glyph-direction:before {
	content: "\e675";
}
.glyph-document:before {
	content: "\e676";
}
.glyph-document-landscape:before {
	content: "\e677";
}
.glyph-documents:before {
	content: "\e678";
}
.glyph-dot-single:before {
	content: "\e679";
}
.glyph-dots-three-horizontal:before {
	content: "\e67a";
}
.glyph-dots-three-vertical:before {
	content: "\e67b";
}
.glyph-dots-two-horizontal:before {
	content: "\e67c";
}
.glyph-dots-two-vertical:before {
	content: "\e67d";
}
.glyph-download:before {
	content: "\e67e";
}
.glyph-drink:before {
	content: "\e67f";
}
.glyph-drive:before {
	content: "\e680";
}
.glyph-drop:before {
	content: "\e681";
}
.glyph-edit:before {
	content: "\e682";
}
.glyph-email:before {
	content: "\e683";
}
.glyph-emoji-flirt:before {
	content: "\e684";
}
.glyph-emoji-happy:before {
	content: "\e685";
}
.glyph-emoji-neutral:before {
	content: "\e686";
}
.glyph-emoji-sad:before {
	content: "\e687";
}
.glyph-erase:before {
	content: "\e688";
}
.glyph-eraser:before {
	content: "\e689";
}
.glyph-export:before {
	content: "\e68a";
}
.glyph-eye:before {
	content: "\e68b";
}
.glyph-eye-with-line:before {
	content: "\e68c";
}
.glyph-feather:before {
	content: "\e68d";
}
.glyph-fingerprint:before {
	content: "\e68e";
}
.glyph-flag:before {
	content: "\e68f";
}
.glyph-flash:before {
	content: "\e690";
}
.glyph-flashlight:before {
	content: "\e691";
}
.glyph-flat-brush:before {
	content: "\e692";
}
.glyph-flow-branch:before {
	content: "\e693";
}
.glyph-flow-cascade:before {
	content: "\e694";
}
.glyph-flower:before {
	content: "\e695";
}
.glyph-flow-line:before {
	content: "\e696";
}
.glyph-flow-parallel:before {
	content: "\e697";
}
.glyph-flow-tree:before {
	content: "\e698";
}
.glyph-folder:before {
	content: "\e699";
}
.glyph-folder-images:before {
	content: "\e69a";
}
.glyph-folder-music:before {
	content: "\e69b";
}
.glyph-folder-video:before {
	content: "\e69c";
}
.glyph-forward:before {
	content: "\e69d";
}
.glyph-funnel:before {
	content: "\e69e";
}
.glyph-game-controller:before {
	content: "\e69f";
}
.glyph-gauge:before {
	content: "\e6a0";
}
.glyph-globe:before {
	content: "\e6a1";
}
.glyph-graduation-cap:before {
	content: "\e6a2";
}
.glyph-grid:before {
	content: "\e6a3";
}
.glyph-hair-cross:before {
	content: "\e6a4";
}
.glyph-hand:before {
	content: "\e6a5";
}
.glyph-heart:before {
	content: "\e6a6";
}
.glyph-heart-outlined:before {
	content: "\e6a7";
}
.glyph-help:before {
	content: "\e6a8";
}
.glyph-help-with-circle:before {
	content: "\e6a9";
}
.glyph-home:before {
	content: "\e6aa";
}
.glyph-hour-glass:before {
	content: "\e6ab";
}
.glyph-image:before {
	content: "\e6ac";
}
.glyph-image-inverted:before {
	content: "\e6ad";
}
.glyph-images:before {
	content: "\e6ae";
}
.glyph-inbox:before {
	content: "\e6af";
}
.glyph-infinity:before {
	content: "\e6b0";
}
.glyph-info:before {
	content: "\e6b1";
}
.glyph-info-with-circle:before {
	content: "\e6b2";
}
.glyph-install:before {
	content: "\e6b3";
}
.glyph-key:before {
	content: "\e6b4";
}
.glyph-keyboard:before {
	content: "\e6b5";
}
.glyph-lab-flask:before {
	content: "\e6b6";
}
.glyph-landline:before {
	content: "\e6b7";
}
.glyph-language:before {
	content: "\e6b8";
}
.glyph-laptop:before {
	content: "\e6b9";
}
.glyph-layers:before {
	content: "\e6ba";
}
.glyph-leaf:before {
	content: "\e6bb";
}
.glyph-level-down:before {
	content: "\e6bc";
}
.glyph-level-up:before {
	content: "\e6bd";
}
.glyph-lifebuoy:before {
	content: "\e6be";
}
.glyph-light-bulb:before {
	content: "\e6bf";
}
.glyph-light-down:before {
	content: "\e6c0";
}
.glyph-light-up:before {
	content: "\e6c1";
}
.glyph-line-graph:before {
	content: "\e6c2";
}
.glyph-link:before {
	content: "\e6c3";
}
.glyph-list:before {
	content: "\e6c4";
}
.glyph-location:before {
	content: "\e6c5";
}
.glyph-location-pin:before {
	content: "\e6c6";
}
.glyph-lock:before {
	content: "\e6c7";
}
.glyph-lock-open:before {
	content: "\e6c8";
}
.glyph-login:before {
	content: "\e6c9";
}
.glyph-log-out:before {
	content: "\e6ca";
}
.glyph-loop:before {
	content: "\e6cb";
}
.glyph-magnet:before {
	content: "\e6cc";
}
.glyph-magnifying-glass:before {
	content: "\e6cd";
}
.glyph-mail:before {
	content: "\e6ce";
}
.glyph-man:before {
	content: "\e6cf";
}
.glyph-map:before {
	content: "\e6d0";
}
.glyph-mask:before {
	content: "\e6d1";
}
.glyph-medal:before {
	content: "\e6d2";
}
.glyph-megaphone:before {
	content: "\e6d3";
}
.glyph-menu:before {
	content: "\e6d4";
}
.glyph-merge:before {
	content: "\e6d5";
}
.glyph-message:before {
	content: "\e6d6";
}
.glyph-mic:before {
	content: "\e6d7";
}
.glyph-minus:before {
	content: "\e6d8";
}
.glyph-mobile:before {
	content: "\e6d9";
}
.glyph-modern-mic:before {
	content: "\e6da";
}
.glyph-moon:before {
	content: "\e6db";
}
.glyph-mouse:before {
	content: "\e6dc";
}
.glyph-mouse-pointer:before {
	content: "\e6dd";
}
.glyph-music:before {
	content: "\e6de";
}
.glyph-network:before {
	content: "\e6df";
}
.glyph-new:before {
	content: "\e6e0";
}
.glyph-new-message:before {
	content: "\e6e1";
}
.glyph-news:before {
	content: "\e6e2";
}
.glyph-newsletter:before {
	content: "\e6e3";
}
.glyph-note:before {
	content: "\e6e4";
}
.glyph-notification:before {
	content: "\e6e5";
}
.glyph-notifications-off:before {
	content: "\e6e6";
}
.glyph-old-mobile:before {
	content: "\e6e7";
}
.glyph-old-phone:before {
	content: "\e6e8";
}
.glyph-open-book:before {
	content: "\e6e9";
}
.glyph-palette:before {
	content: "\e6ea";
}
.glyph-paper-plane:before {
	content: "\e6eb";
}
.glyph-pencil:before {
	content: "\e6ec";
}
.glyph-phone:before {
	content: "\e6ed";
}
.glyph-pie-chart:before {
	content: "\e6ee";
}
.glyph-pin:before {
	content: "\e6ef";
}
.glyph-plus:before {
	content: "\e6f0";
}
.glyph-popup:before {
	content: "\e6f1";
}
.glyph-power-plug:before {
	content: "\e6f2";
}
.glyph-price-ribbon:before {
	content: "\e6f3";
}
.glyph-price-tag:before {
	content: "\e6f4";
}
.glyph-print:before {
	content: "\e6f5";
}
.glyph-progress-empty:before {
	content: "\e6f6";
}
.glyph-progress-full:before {
	content: "\e6f7";
}
.glyph-progress-one:before {
	content: "\e6f8";
}
.glyph-progress-two:before {
	content: "\e6f9";
}
.glyph-publish:before {
	content: "\e6fa";
}
.glyph-quote:before {
	content: "\e6fb";
}
.glyph-radio:before {
	content: "\e6fc";
}
.glyph-remove-user:before {
	content: "\e6fd";
}
.glyph-reply:before {
	content: "\e6fe";
}
.glyph-reply-all:before {
	content: "\e6ff";
}
.glyph-resize-100:before {
	content: "\e700";
}
.glyph-resize-full-screen:before {
	content: "\e701";
}
.glyph-retweet:before {
	content: "\e702";
}
.glyph-rocket:before {
	content: "\e703";
}
.glyph-round-brush:before {
	content: "\e704";
}
.glyph-rss:before {
	content: "\e705";
}
.glyph-ruler:before {
	content: "\e706";
}
.glyph-save:before {
	content: "\e707";
}
.glyph-scissors:before {
	content: "\e708";
}
.glyph-select-arrows:before {
	content: "\e709";
}
.glyph-share:before {
	content: "\e70a";
}
.glyph-shareable:before {
	content: "\e70b";
}
.glyph-share-alternative:before {
	content: "\e70c";
}
.glyph-shield:before {
	content: "\e70d";
}
.glyph-shop:before {
	content: "\e70e";
}
.glyph-shopping-bag:before {
	content: "\e70f";
}
.glyph-shopping-basket:before {
	content: "\e710";
}
.glyph-shopping-cart:before {
	content: "\e711";
}
.glyph-shuffle:before {
	content: "\e712";
}
.glyph-signal:before {
	content: "\e713";
}
.glyph-sound:before {
	content: "\e714";
}
.glyph-sound-mix:before {
	content: "\e715";
}
.glyph-sound-mute:before {
	content: "\e716";
}
.glyph-sports-club:before {
	content: "\e717";
}
.glyph-spreadsheet:before {
	content: "\e718";
}
.glyph-squared-cross:before {
	content: "\e719";
}
.glyph-squared-minus:before {
	content: "\e71a";
}
.glyph-squared-plus:before {
	content: "\e71b";
}
.glyph-star:before {
	content: "\e71c";
}
.glyph-star-outlined:before {
	content: "\e71d";
}
.glyph-stopwatch:before {
	content: "\e71e";
}
.glyph-suitcase:before {
	content: "\e71f";
}
.glyph-swap:before {
	content: "\e720";
}
.glyph-sweden:before {
	content: "\e721";
}
.glyph-switch:before {
	content: "\e722";
}
.glyph-tablet:before {
	content: "\e723";
}
.glyph-tablet-mobile-combo:before {
	content: "\e724";
}
.glyph-tag:before {
	content: "\e725";
}
.glyph-text:before {
	content: "\e726";
}
.glyph-text-document:before {
	content: "\e727";
}
.glyph-text-document-inverted:before {
	content: "\e728";
}
.glyph-thermometer:before {
	content: "\e729";
}
.glyph-thumbs-down:before {
	content: "\e72a";
}
.glyph-thumbs-up:before {
	content: "\e72b";
}
.glyph-thunder-cloud:before {
	content: "\e72c";
}
.glyph-ticket:before {
	content: "\e72d";
}
.glyph-time-slot:before {
	content: "\e72e";
}
.glyph-tools:before {
	content: "\e72f";
}
.glyph-traffic-cone:before {
	content: "\e730";
}
.glyph-trash:before {
	content: "\e731";
}
.glyph-tree:before {
	content: "\e732";
}
.glyph-triangle-down:before {
	content: "\e733";
}
.glyph-triangle-left:before {
	content: "\e734";
}
.glyph-triangle-right:before {
	content: "\e735";
}
.glyph-triangle-up:before {
	content: "\e736";
}
.glyph-trophy:before {
	content: "\e737";
}
.glyph-tv:before {
	content: "\e738";
}
.glyph-typing:before {
	content: "\e739";
}
.glyph-uninstall:before {
	content: "\e73a";
}
.glyph-unread:before {
	content: "\e73b";
}
.glyph-untag:before {
	content: "\e73c";
}
.glyph-upload:before {
	content: "\e73d";
}
.glyph-upload-to-cloud:before {
	content: "\e73e";
}
.glyph-user:before {
	content: "\e73f";
}
.glyph-users:before {
	content: "\e740";
}
.glyph-v-card:before {
	content: "\e741";
}
.glyph-video:before {
	content: "\e742";
}
.glyph-video-camera:before {
	content: "\e743";
}
.glyph-vinyl:before {
	content: "\e744";
}
.glyph-voicemail:before {
	content: "\e745";
}
.glyph-wallet:before {
	content: "\e746";
}
.glyph-warning:before {
	content: "\e747";
}
.glyph-water:before {
	content: "\e748";
}
.glyph-px:before {
	content: "\e749";
}
.glyph-px-with-circle:before {
	content: "\e74a";
}
.glyph-app-store:before {
	content: "\e74b";
}
.glyph-baidu:before {
	content: "\e74c";
}
.glyph-basecamp:before {
	content: "\e74d";
}
.glyph-behance:before {
	content: "\e74e";
}
.glyph-creative-cloud:before {
	content: "\e74f";
}
.glyph-dribbble:before {
	content: "\e750";
}
.glyph-dribbble-with-circle:before {
	content: "\e751";
}
.glyph-dropbox:before {
	content: "\e752";
}
.glyph-evernote:before {
	content: "\e753";
}
.glyph-facebook:before {
	content: "\e754";
}
.glyph-facebook-with-circle:before {
	content: "\e755";
}
.glyph-flattr:before {
	content: "\e756";
}
.glyph-flickr:before {
	content: "\e757";
}
.glyph-flickr-with-circle:before {
	content: "\e758";
}
.glyph-foursquare:before {
	content: "\e759";
}
.glyph-github:before {
	content: "\e75a";
}
.glyph-github-with-circle:before {
	content: "\e75b";
}
.glyph-google:before {
	content: "\e75c";
}
.glyph-google-drive:before {
	content: "\e75d";
}
.glyph-google-hangouts:before {
	content: "\e75e";
}
.glyph-google-play:before {
	content: "\e75f";
}
.glyph-google-with-circle:before {
	content: "\e760";
}
.glyph-grooveshark:before {
	content: "\e761";
}
.glyph-houzz:before {
	content: "\e762";
}
.glyph-icloud:before {
	content: "\e763";
}
.glyph-instagram:before {
	content: "\e764";
}
.glyph-instagram-with-circle:before {
	content: "\e765";
}
.glyph-lastfm:before {
	content: "\e766";
}
.glyph-lastfm-with-circle:before {
	content: "\e767";
}
.glyph-linkedin:before {
	content: "\e768";
}
.glyph-linkedin-with-circle:before {
	content: "\e769";
}
.glyph-mail-with-circle:before {
	content: "\e76a";
}
.glyph-medium:before {
	content: "\e76b";
}
.glyph-medium-with-circle:before {
	content: "\e76c";
}
.glyph-mixi:before {
	content: "\e76d";
}
.glyph-onedrive:before {
	content: "\e76e";
}
.glyph-paypal:before {
	content: "\e76f";
}
.glyph-picasa:before {
	content: "\e770";
}
.glyph-pinterest:before {
	content: "\e771";
}
.glyph-pinterest-with-circle:before {
	content: "\e772";
}
.glyph-qq:before {
	content: "\e773";
}
.glyph-qq-with-circle:before {
	content: "\e774";
}
.glyph-raft:before {
	content: "\e775";
}
.glyph-raft-with-circle:before {
	content: "\e776";
}
.glyph-rainbow:before {
	content: "\e777";
}
.glyph-rdio:before {
	content: "\e778";
}
.glyph-rdio-with-circle:before {
	content: "\e779";
}
.glyph-renren:before {
	content: "\e77a";
}
.glyph-scribd:before {
	content: "\e77b";
}
.glyph-sina-weibo:before {
	content: "\e77c";
}
.glyph-skype:before {
	content: "\e77d";
}
.glyph-skype-with-circle:before {
	content: "\e77e";
}
.glyph-slideshare:before {
	content: "\e77f";
}
.glyph-smashing:before {
	content: "\e780";
}
.glyph-soundcloud:before {
	content: "\e781";
}
.glyph-spotify:before {
	content: "\e782";
}
.glyph-spotify-with-circle:before {
	content: "\e783";
}
.glyph-stumbleupon:before {
	content: "\e784";
}
.glyph-stumbleupon-with-circle:before {
	content: "\e785";
}
.glyph-swarm:before {
	content: "\e786";
}
.glyph-tripadvisor:before {
	content: "\e787";
}
.glyph-tumblr:before {
	content: "\e788";
}
.glyph-tumblr-with-circle:before {
	content: "\e789";
}
.glyph-twitter:before {
	content: "\e78a";
}
.glyph-twitter-with-circle:before {
	content: "\e78b";
}
.glyph-vimeo:before {
	content: "\e78c";
}
.glyph-vimeo-with-circle:before {
	content: "\e78d";
}
.glyph-vine:before {
	content: "\e78e";
}
.glyph-vine-with-circle:before {
	content: "\e78f";
}
.glyph-vk:before {
	content: "\e790";
}
.glyph-vk-alternitive:before {
	content: "\e791";
}
.glyph-vk-with-circle:before {
	content: "\e792";
}
.glyph-windows-store:before {
	content: "\e793";
}
.glyph-xing:before {
	content: "\e794";
}
.glyph-xing-with-circle:before {
	content: "\e795";
}
.glyph-yelp:before {
	content: "\e796";
}
.glyph-youko:before {
	content: "\e797";
}
.glyph-youko-with-circle:before {
	content: "\e798";
}
.glyph-youtube:before {
	content: "\e799";
}
.glyph-youtube-with-circle:before {
	content: "\e79a";
}
