{% extends "akamatsu/dashboard/layout.html" %}
{% from "akamatsu/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

{% block title %}File details{% endblock %}
{% block mini %}.files{% endblock %}

{# File viewer #}
{% block content %}

{% if status == 'error' %}
<div class="grid grid-pad">
    <div class="col-1-1 aka-msg-warning">
        <span>{{ errmsg }}</span>
    </div>
</div>
{% else %}

{# Delete button #}
<div class="grid grid-pad">
    <div class="col-2-12 push-right">
        <a href="{{ url_for('dashboard.file_delete', file_id=file.id) }}" class="aka-btn-warning plainlink">
            <i class="fa fa-trash"></i> Delete file
        </a>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-1-1">
        <span><strong>File path:</strong> {{ file.path }} (<a href="{{ config['UPLOAD_SERVING_ROUTE'] }}/{{ file.path }}" target="_blank">view file</a>)</span>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-1-1">
        <span><strong>Uploaded:</strong> {{ file.timestamp }}</span>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-1-1">
        <p><strong>Description:</strong> {{ file.description }}</p>
    </div>
</div>
{% endif %}

{% endblock %}
