{% extends "akamatsu/dashboard/layout.html" %}
{% from "akamatsu/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

{% block title %}Upload file{% endblock %}
{% block mini %}.files{% endblock %}

{# File uploader #}
{% block content %}

{# Status #}
{% if status == 'saveerror' %}
<div class="grid grid-pad aka-msg-warning">
    <div class="col-1-1">
        <span>{{ errmsg }}</span>
    </div>
</div>
{% endif %}

{% if status == 'saved' %}
<div class="grid grid-pad aka-msg-success">
    <div class="col-1-1">
        <span>File uploaded</span>
    </div>
</div>
{% endif %}


<form action="" method="POST" enctype="multipart/form-data" role="form">
    {{ form.hidden_tag() }}


    {{ render_field(form.filename) }}
    {{ render_field(form.subdir) }}
    {{ render_field(form.description) }}
    {{ render_field(form.upload) }}


    <div class="grid grid-pad">
        <div class="col-1-3 push-1-3">
            <input type="submit" class="aka-btn-primary" value="Save">
        </div>
    </div>
</form>

{% endblock %}
