{% extends "akamatsu/dashboard/layout.html" %}
{% from "akamatsu/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

{% block title %}Change password{% endblock %}

{# Page mini #}
{% block mini %}.pwd{% endblock %}

{% block flask_user_header %}
    {%trans%}Change Password{%endtrans%}
{% endblock %}

{% block content %}


<form action="" method="POST" class="form-vertical" role="form">
    {{ form.hidden_tag() }}

    {{ render_field(form.old_password) }}
    {{ render_field(form.new_password) }}

    {% if user_manager.enable_retype_password %}
        {{ render_field(form.retype_password) }}
    {% endif %}

    <div class="grid grid-pad">
        <div class="col-1-3 push-1-3">
            <input type="submit" class="aka-btn-primary" value="Save">
        </div>
    </div>
</form>

{% endblock %}
