{% extends "dashboard/public_layout.html" %}
{% block title %}{{ config['SITENAME'] }} - Forgot password{% endblock %}
{% block section_name %}.pwd{% endblock %}

{% block flask_user_header %}
    {%trans%}Change username{%endtrans%}
{% endblock %}

{% block main %}
{% from "flask_user/_macros.html" import render_submit_field %}
{% from "_macros.html" import render_vertical_field %}

<form action="" method="POST" class="form-vertical" role="form">
    {{ form.hidden_tag() }}

    {{ render_vertical_field(form.new_username)}}
    {{ render_vertical_field(form.old_password)}}

    <div class="grid form-group">
        {{ render_submit_field(form.submit) }}
    </div>
</form>

{% endblock %}
