{% extends "akamatsu/layout.html" %}
{% from "akamatsu/_macros.html" import render_field, render_submit_field %}

{% block title %}Reset password{% endblock %}

{# Page mini #}
{% block mini %}.pwd{% endblock %}

{% block flask_user_header %}
    {%trans%}Reset Password{%endtrans%}
{% endblock %}

{% block content %}

<form action="" method="POST" class="form-vertical" role="form">
    {{ form.hidden_tag() }}

    <div class="grid">
        <div class="col-1-1">
            {{ render_field(form.new_password) }}
        </div>
    </div>

    {% if user_manager.enable_retype_password %}
        <div class="grid">
            <div class="col-1-1">
                {{ render_field(form.retype_password) }}
            </div>
        </div>
    {% endif %}


    <div class="grid">
        <div class="col-1-3 push-1-3">
            {{ render_submit_field(form.submit) }}
        </div>
    </div>
</form>

{% endblock %}
