{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block title %}{{ _('Forgot password') }}{% endblock %}

{% block html_body %}
<body>
    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="column is-4 is-offset-4">
                    <h2 class="title is-2 has-text-grey has-text-centered"><a href="{{ url_for('auth.login') }}">{{ config['SITENAME'] }}</a></h2>
                    <h3 class="subtitle is-3 has-text-grey has-text-centered">{{ _('Forgot password') }}</h3>

                    {{ macros.render_flash_messages() }}

                    <div class="box">
                        <form action="" method="POST" role="form">
                            {{ form.hidden_tag() }}

                            {# Email field #}
                            {{ macros.render_input(form.email, icon='envelope') }}

                            {% if form.errors.email %}
                                {{ macros.render_messages(form.errors.email, size='') }}
                            {% endif %}

                            {# Submit #}
                            {{ macros.render_submit(form.submit) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}