{% extends "akamatsu/dashboard/layout.html" %}
{% from "akamatsu/_macros.html" import render_field, render_checkbox_field, render_submit_field, render_success_msg, render_warning_msg %}

{% block title %}Akamatsu settings{% endblock %}
{% block mini %}.conf{% endblock %}

{# Settings viewer #}
{% block content %}
    {{ render_field(form.sitename) }}

    {{ render_field(form.social) }}
    {{ render_field(form.navbar) }}

    {{ render_field(form.allowed_extensions) }}

    {{ render_field(form.comment_system) }}

    {% if config.COMMENT_SYSTEM == 'disqus' %}
        {{ render_field(form.disqus_shortname) }}

    {% elif config.COMMENT_SYSTEM == 'isso' %}
        {{ render_field(form.isso_url)}}

        <div class="grid grid-pad">
            <div class="col-1-2">
                {{ render_checkbox_field(form.isso_reply_self) }}
            </div>

            <div class="col-1-2">
                {{ render_checkbox_field(form.isso_require_author) }}
            </div>
        </div>

        <div class="grid grid-pad">
            <div class="col-1-2">
                {{ render_checkbox_field(form.isso_require_email) }}
            </div>

            <div class="col-1-2">
                {{ render_checkbox_field(form.isso_voting) }}
            </div>
        </div>
    {% endif %}

    {{ render_field(form.humans) }}
    {{ render_field(form.robots) }}

    {{ render_field(form.footer_left) }}
    {{ render_field(form.footer_right) }}
{% endblock %}
