{% extends "akamatsu/layout.html" %}
{% from "akamatsu/_macros.html" import get_summary, show_author, show_tags %}

{% block title %}Posts by {{ user }} {% endblock %}

{# Page mini #}
{% block mini %}.blog{% endblock %}

{# Tagged posts #}
{% block content %}

<div class="grid grid-pad">
    <h3>Posts by {{ user }}</h3>
</div>

{% if posts.items|length > 0 %}
{% for post in posts.items %}
<div class="grid grid-pad">
    <article class="aka-post col-1-1">
        <h2 class="title">
            <a href="{{ url_for('blog.show', slug=post.slug) }}">{{ post.title }}</a>
        </h2>

        <div class="author">
            {{ show_author(post) }}
        </div>

        <span class="date">
            {{ post.timestamp.strftime('%d %b %Y') }}
        </span>

        <div class="content">
            {{ get_summary(post) }}
        </div>

        <div class="actions">
        {% if post.comments_enabled %}
            <a href="{{ url_for('blog.show', slug=post.slug) }}#disqus_thread">

                <i class="fa fa-comments"></i>Comments
            </a>
        {% endif %}

            <a href="{{ url_for('blog.show', slug=post.slug) }}">
                <i class="fa fa-newspaper-o"></i>Read more
            </a>
        </div>

        <p class="tags">
            {{ show_tags(post) }}
        </p>
    </article>
</div>

{% endfor %}

{{ render_pagination(posts, 'blog.by') }}

{% else %}
    {# Show error message instead of 404 #}
    <div class="grid grid-pad">
        <article class="col-1-1">
            <h2>No posts found</h2>
            <hr></hr>
        </article>
    </div>
{% endif %}
</div>

{% endblock %}
