{% extends "akamatsu/layout.html" %}
{% from "akamatsu/_macros.html" import render_comments, show_author, show_bio, show_tags %}

{% block title %}{{ post.title }}{% endblock %}

{# Page mini #}
{% block mini %}.blog{% endblock %}

{# Post content #}
{% block content %}

<div class="grid grid-pad">
    <article class="aka-post col-1-1">
        <h2 class="title">{{ post.title }}</h2>

        <div class="author">
            {{ show_author(post) }}
        </div>

        <span class="date">
            {{ post.timestamp.strftime('%d %b %Y') }}
        </span>

        <div class="content">
            {{ post.content|markdown }}
        </div>

        <p class="tags">
            {{ show_tags(post) }}
        </p>

        <div class="bio">
            {{ show_bio(post) }}
        </div>

        <section id="comments">
            {% if post.comments_enabled %}
                {{ render_comments(post, 'post', 'post.show') }}
            {% endif %}
        </section>

    </article>
</div>

{% endblock %}
