{# Select comments to render depending on configured type #}
{% macro render_comments(item, item_type, url) %}
{% if config.COMMENT_SYSTEM %}
    {% if config.COMMENT_SYSTEM == 'disqus' %}
        {{ disqus_comments('{{ item_type }}_' ~ item.id, item.title, url_for('{{ url }}', _external=True, slug=item.slug)) }}

    {% elif config.COMMENT_SYSTEM == 'isso' %}
        {{ isso_comments(item.title) }}

    {% endif %}
{% endif %}
{%- endmacro %}


{# Render Disqus comments #}
{% macro disqus_comments(id, title, url) %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ config.DISQUS_SHORTNAME }}';
    var disqus_identifier = '{{ id }}';
    var disqus_title = '{{ title }}';
    var disqus_url = '{{ url }}';

    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';

        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{%- endmacro %}


{# Render Disqus comment count #}
{% macro disqus_comment_count() %}
<script type="text/javascript">
    var disqus_shortname = '{{ config.DISQUS_SHORTNAME }}';

    (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
</script>
{%- endmacro %}


{# Render isso comments #}
{% macro isso_comments(title) %}
<script data-isso="//{{ config.ISSO_URL }}"
        data-isso-reply-to-self="{{ config.ISSO_REPLY_SELF }}"
        data-isso-require-author="{{ config.ISSO_REQUIRE_AUTHOR }}"
        data-isso-require-email="{{ config.ISSO_REQUIRE_EMAIL }}"
        data-isso-max-comments-top="15"
        data-isso-max-comments-nested="5"
        data-isso-avatar="true"
        data-isso-vote="{{ config.ISSO_VOTING }}"
        src="//{{ config.ISSO_URL }}/js/embed.min.js"></script>

<section id="isso-thread" data-title="{{ title }}"></section>
{%- endmacro %}



{# Used to display only up to the first page break or the whole post #}
{% macro get_summary(post) %}
    {% set summary = post.content.split('<!--aka-break-->')[0].strip() %}
    {{ summary|markdown }}
{%- endmacro %}


{# Show post author #}
{% macro show_author(post) %}
    {% set username = post.author.username %}
    <a href="{{ url_for('blog.by_user', user=username) }}">{{ username }}</a>
{%- endmacro %}


{# Show post tags #}
{% macro show_tags(post) %}
{% if post.tags|length > 0 %}
    <span>Tags:</span>

{% for tag in post.tags %}
    <a href="{{ url_for('blog.tagged', tag=tag.name) }}">{{ tag.name }}</a>
{% endfor %}

{% endif %}
{%- endmacro %}


{# Show post author bio #}
{% macro show_bio(post) %}
{% if post.author %}
    <h5>{{ post.author.username }}</h5>
    {{ post.author.personal_bio|markdown }}
{% endif %}
{%- endmacro %}


{# Used to render input field with label over it #}
{% macro render_field(field, label=None, label_visible=true, is_date=false, down_url=None, down_label=None, num_cols='1-1') %}
    <div class="grid grid-pad aka-form-group {% if field.errors %}error{% endif %}">
        <div class="col-{{ num_cols }}">
            {% if field.type != 'HiddenField' and label_visible %}
                {% if not label %}{% set label=field.label.text %}{% endif %}
                <label for="{{ field.id }}">
                    {{ label|safe }}

                    {% if field.flags.required %}
                        <small>Required</small>
                    {% endif %}

                    {% if field.description %}
                        <span class="aka-description">{{ field.description }}</span>
                    {% endif %}

                </label>
            {% endif %}

            {{ field }}

            {% if down_url and down_label %}
                <a class="aka-underlink" href="{{ down_url }}">{{ down_label }}</a>
            {% endif %}

            {% if is_date %}
                <a href="javascript:void(0);" class="aka-setnow" date_field="{{ field.id }}">Set to now</a>
            {% endif %}

            {% if field.errors %}
                {% for e in field.errors %}
                    <span class="aka-help-block">{{ e }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{%- endmacro %}


{# Render form checkboxes #}
{% macro render_checkbox_field(field, label=None) %}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <div class="aka-form-group">
        <div class="aka-checkbox">
            <label>
                {{ field(type='checkbox', **kwargs) }} {{ label }}
            </label>
        </div>
    </div>
{%- endmacro %}


{% macro render_submit_field(field, label=None, class='aka-btn-primary', tabindex=None) %}
    {% if not label %}{% set label=field.label.text %}{% endif %}
    <input type="submit" class="{{ class }}" value="{{label}}"
           {% if tabindex %}tabindex="{{ tabindex }}"{% endif %}
           >
{%- endmacro %}


{% macro render_pagination(pagination, endpoint, admin=false) %}
    {% if pagination.pages > 1 %}
    <div class="grid">
        <div id="aka-pagination" {% if admin %}class="admin"{% endif %}>
            {% if pagination.has_prev %}
                <a href="{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}">
                    <i class="fa fa-chevron-left"></i>
                </a>
            {% endif %}

        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}

        {% if pagination.has_next %}
            <a href="{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}">
                <i class="fa fa-chevron-right"></i>
            </a>
        {% endif %}
        </div>
    </div>
    {% endif %}
{%- endmacro %}


{# Render success messages in dashboard #}
{% macro render_success_msg(msg) %}
<div class="grid grid-pad aka-msg aka-msg-success">
    <a href="javascript:void(0);" class="aka-close-msg"><i class="fa fa-times"></i></a>

    <div class="col-1-1">
        <span>{{ msg }}</span>
    </div>
</div>
{%- endmacro %}


{# Render warning messages in dashboard #}
{% macro render_warning_msg(msg) %}
<div class="grid grid-pad aka-msg aka-msg-warning">
    <a href="javascript:void(0);" class="aka-close-msg"><i class="fa fa-times"></i></a>

    <div class="col-1-1">
        <span>{{ msg }}</span>
    </div>
</div>
{%- endmacro %}


{# Dashboard sortable headers #}
{% macro sortable_header(key, text, order_key='date', order_dir='desc') %}
    {% if key == order_key %}
        {% if order_dir == 'asc' %}
        <span class="aka-listcolumn" order-key="{{ key }}" order="{{ order_dir }}">{{ text }} <i class="fa fa-chevron-up"></i></span>
        {% else %}
            <span class="aka-listcolumn" order-key="{{ key }}" order="{{ order_dir }}">{{ text }} <i class="fa fa-chevron-down"></i></span>
        {% endif %}
    {% else %}
        <span order-key="{{ key }}" class="aka-listcolumn">{{ text }}</span>
    {% endif %}
{%- endmacro %}
